<div class="panel-header panel-header-sm">
</div>
<html>
<body>
<!-- header -->
<nav class="navbar">
  <!--
    <div class="navbar-brand">
      <button class="navbar-item navbar-item-right">gfdgfdg</button>
    </div>

  -->
  <a class="mat-button" (click)="logout()">Logout</a>
</nav>

<div id="networks">
  <div id="theoreticalnetwork">
    <div id="theoreticalspace"></div>
    <div id="controls">
      <p>Label: </p><input type="text" id="labelvalue">
      <a class="mat-button" (click)="save()">Save</a>
    </div>
  </div>

  <div id="realspace"></div>
</div>

</body>
</html>
