<div class="panel-header panel-header-sm">
</div>
<html>
<body>
<!-- header -->
<nav class="navbar">
  <!--
    <div class="navbar-brand">
      <button class="navbar-item navbar-item-right">gfdgfdg</button>
    </div>

  -->
  <!--<a class="mat-button" (click)="logout()">Logout</a>-->
</nav>

<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">JENA</h5>
        </div>
        <div class="card-body">

            <div>
              <button class="btn btn-outline-primary" (click)="akcija1()">akcija 1</button>
            </div>

            <div>
              <button class="btn btn-outline-primary" (click)="akcija2()">akcija 2</button>
            </div>

          <div>
            <button class="btn btn-outline-primary" (click)="akcija3()">akcija 3</button>
          </div>

          <div>
            <button class="btn btn-outline-primary" (click)="akcija4()">akcija 4</button>
          </div>

          <div>
            <button class="btn btn-outline-primary" (click)="akcija5()">akcija 5</button>
          </div>

          <div>
            <button class="btn btn-outline-primary" (click)="akcija6()">akcija 6</button>
          </div>

          <div>
            <button class="btn btn-outline-primary" (click)="akcija7()">akcija 7</button>
          </div>

          <div>
            <button class="btn btn-outline-primary" (click)="akcija8()">akcija 8</button>
          </div>

          <div>
            <button class="btn btn-outline-primary" (click)="akcija9()">akcija 9</button>
          </div>

          <div>
            <button class="btn btn-outline-primary" (click)="akcija10()">akcija 10</button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
