<div class="panel-header panel-header-sm">
</div>
<html>
<body>
<!-- header -->
<nav class="navbar">
  <!--
    <div class="navbar-brand">
      <button class="navbar-item navbar-item-right">gfdgfdg</button>
    </div>

  -->
  <a class="mat-button" (click)="logout()">Logout</a>
</nav>

<div class="row">
  <div class="col-6">
    <h3>Polaganje testa</h3>
  </div>
</div>
<div id="quiz">
  <h2 class="text-center font-weight-normal">{{test.testName}}</h2>
  <hr />

  <div *ngIf=test>
    <h3 class="font-weight-normal">{{pager.index + 1}}.
      <span [innerHTML]="question.questionText"></span>
    </h3>
    <div class="row text-left options">
      <div class="col-6" *ngFor="let answer of question.answers">
        <div class="option">
          <label class="font-weight-normal" [attr.for]="answer.answerID">
            <input id="{{answer.answerID}}" type="checkbox" [(ngModel)]="answer.selected" (change)="onSelect(question, answer);" /> {{answer.answerText}}
          </label>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="onSubmit();">Submit answer</button>
    </div>
  </div>


</div>

</body>
</html>
