<div class="panel-header panel-header-sm">
</div>
<html>
<body>

<div class="card-body">
  <h4 class="card-title"> Dodaj probleme u pretpostavku</h4>
  <div>
    <form [formGroup]="ProblemQuestionForm" (ngSubmit)="createProblemQuestions()">

      <div>
        Problem: <mat-form-field appearance="fill">
        <mat-label>Problem</mat-label>
        <mat-select formControlName="problemId">
          <mat-option id="problemId"  *ngFor="let problem of allProblems" [value]="problem.id">{{problem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>

      <div>
        Pitanja: <mat-form-field >
        <mat-label>Pitanja</mat-label>
        <mat-select formControlName="questions" multiple>
          <mat-option id="questions"  *ngFor="let question of allQuestions" [value]="question.id">{{question.questionText}}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>

      <button type="submit" class="btn btn-primary">Kreiraj pretpostavku</button>
    </form>

  </div>

</div>
</body>
