<div class="panel-header panel-header-sm">
</div>
<html>
<body>
<!-- header -->
<nav class="navbar">
  <!--
    <div class="navbar-brand">
      <button class="navbar-item navbar-item-right">gfdgfdg</button>
    </div>

  -->
  <a class="mat-button" (click)="logout()">Logout</a>
</nav>

<h1>Svi testovi profesora</h1>
<div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class=" text-primary">
      <th>
        Id
      </th>
      <th>
        Naziv
      </th>
      <th>
        Max skor
      </th>
      <th>
        Prolazni %
      </th>
      </thead>
      <tbody>
      <ng-container *ngFor="let test of testovi">
        <tr>
          <td>{{test.id}}</td>
          <td>{{test.title}}</td>
          <td>{{test.maxScore}}</td>
          <td>{{test.passPercentage}}</td>

          <td>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Obriši</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="delete(test)">Obriši test</button>
              </div>
            </div>
          </td>

         <!-- <td>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Stavke</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button ngbDropdownItem (click)="otvoriStavke(openCom, radni_nalog)">Prikazi stavke</button>
                <button ngbDropdownItem (click)="dodajStavku(radni_nalog)">Nova stavka</button>
              </div>
            </div>
          </td>-->

        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <button class="btn btn-outline-primary" (click)="noviTest(addTest)">Novi test</button>
</div>

<ng-template #addTest let-modal windowClass="modal-dialog">
  <div class="modal-header">
    <h4 class="modal-title" class="text-right" id="modal-basic-title4">Novi test</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div class="card-body">

      <form [formGroup]="TestForm" (ngSubmit)="create()">
        <input type="text" formControlName="title" id="title"  placeholder="Naziv">
        <input type="number" formControlName="maxScore" id="maxScore" nbInput min="1" max="100"value="1"  placeholder="Maksimalan skor">
        <input type="number" formControlName="passPercentage" id="passPercentage" nbInput min="1" max="50"value="1"  placeholder="Prolazni %">
        <button type="submit" class="btn btn-primary">Kreiraj test</button>
      </form>

    </div>

  </div>

  <div class="modal-footer">

  </div>
</ng-template>
