<div class="panel-header panel-header-sm">
</div>
<html>
<body>

<div class="card-body">
  <h4 class="card-title"> Dodaj probleme u pretpostavku</h4>
  <div>
    <form [formGroup]="SurmiseProblemForm" (ngSubmit)="createSurmiseProblem()">
      <div>
        Pretpostavka: <mat-form-field >
          <mat-label>Pretpostavka</mat-label>
          <mat-select formControlName="surmiseId">
            <mat-option id="surmiseId"  *ngFor="let surmise of allSurmises" [value]="surmise.id">{{surmise.id}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        Problemi: <mat-form-field appearance="fill">
          <mat-label>Problemi</mat-label>
          <mat-select formControlName="problems" multiple>
            <mat-option id="problems"  *ngFor="let problem of allProblems" [value]="problem.id">{{problem.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button type="submit" class="btn btn-primary">Kreiraj pretpostavku</button>
    </form>

  </div>

</div>
</body>
