<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="col-md-12 text-center">
      <h1>Registracija</h1>
    </div>

    <!-- Login Form -->
    <form [formGroup]="korisnikForm" (ngSubmit)="onSubmit()">
      Ime <input type="text" formControlName="name" class="form-control" id="name" name="name" placeholder="Ime">
      Prezime <input type="text" formControlName="lastName" class="form-control" id="lastName" name="lastName" placeholder="Prezime">
      Korisničko ime <input type="username" formControlName="username" class="form-control" id="username" name="username" placeholder="Korisnicko ime">
      E-mail <input type="text" formControlName="email" class="form-control" id="email" name="email" placeholder="E-mail">
      Lozinka <input type="password" formControlName="password" class="form-control" id="password" name="password" placeholder="Lozinka">

      <div>
        Administrator <input id="Administrator" type="radio" value="Administrator" name="userType" formControlName="userType">
      </div>
      <div>
        Profesor <input id="Professor" type="radio" value="Professor" name="userType" formControlName="userType">
      </div>
      <div>
        Student <input id="Student" type="radio" value="Student" name="userType" formControlName="userType">
      </div>

      <input type="submit" class="btn btn-primary" value="Registruj se">
    </form>
    <button class="btn btn-outline-primary" (click)="MakeVote()">Odustani</button>
  </div>
</div>
</body>
